<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3396.1786" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3396.1786" targetFramework="net461" />
  <package id="FluentSharp.CoreLib" version="4.0.0.0" targetFramework="net461" />
  <package id="FluentSharp.HtmlAgilityPack" version="5.5.172" targetFramework="net461" />
  <package id="FluentSharp.Xml" version="5.5.165" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>